Options -Indexes

Order Deny,Allow 
Allow from All 

#<Files "*.json"> 
#     Order Deny,Allow 
#     Deny from All
#</Files>

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /data/
	
	RewriteRule ^oss(.*)$		fetch.php?w=oss [L,QSA]
	RewriteRule ^games(.*)$		fetch.php?w=games [L,QSA]
	RewriteRule ^atom(.*)$		fetch.php?w=atom [L,QSA]
	RewriteRule ^aboutthispage(.*)$		fetch.php?w=about [L,QSA]
	RewriteRule ^articles(.*)$		fetch.php?w=articles [L,QSA]
	
	RewriteCond %{THE_REQUEST}	fetch\.php
	RewriteRule ^ - [L,F]
	RewriteCond %{THE_REQUEST}	\.json
	RewriteRule ^ - [L,F]	
</IfModule>
